Repository htl-grieskirchen-core/core, pull requests merged in 2022-10, with the labels that each got.

#37 Add basic database schema
  .gitignore
  Core.Backend/Core.Backend.csproj
  Core.Backend/Program.cs
  Core.Database/Core.Database.csproj
  Core.Database/CoreContext.cs
  Core.Database/StoredUserTokens.cs
  Core.Database/User.cs
  Core.sln
Labels: backend, dua moi wos

#26 Feature/ldap
  Core.Backend/Controllers/WeatherForecastController.cs
  Core.Backend/Core.Backend.csproj
  Core.Backend/Program.cs
  Core.Backend/Properties/launchSettings.json
  Core.Backend/appsettings.json
  Core.Ldap.Implementation/Core.Ldap.Implementation.csproj
  Core.Ldap.Implementation/LdapClient.cs
  Core.Ldap.Implementation/LdapConfiguration.cs
  Core.Ldap.Interface/ILdapClient.cs
  Core.Ldap.Interface/InvalidLoginException.cs
  Core.Ldap.Interface/InvalidUserException.cs
  Core.Ldap.Interface/LdapGroup.cs
  Core.Ldap.Interface/LdapUser.cs
  Core.Ldap.Interface/SignInParams.cs
  Core.Ldap.Interface/SignInResult.cs
Labels: enhancement, backend, dua moi wos

#65 Remove ',OU' in class string
  Core.Ldap.Implementation/LdapClient.cs
Labels: bug, backend

#67 Feature/update codeowners
  CODEOWNERS
Labels: documentation

#63 Create plugin interface project
  CODEOWNERS
  Core.Plugin.Interface/Core.Plugin.Interface.csproj
  Core.Plugin.Interface/ICorePlugin.cs
  Core.sln
Labels: enhancement, backend, dua moi wos

#78 feature/tailwind setup
  .pre-commit-config.yaml
  frontend/package.json
  frontend/src/styles.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: frontend

#84 Feature/plugin system
  CODEOWNERS
  Core.Backend/Core.Backend.csproj
  Core.Backend/Pluginloader.cs
  Core.Backend/Program.cs
  Core.Backend/plugins/.gitignore
  Core.TestPlugin/Core.TestPlugin.csproj
  Core.TestPlugin/TestPlugin.cs
  Core.sln
Labels: enhancement, backend
