Repository htl-grieskirchen-core/core, pull requests merged in 2022-11, with the labels that each got.

#106 Update encryption services -> update branch
  Core.Backend.Secure/Auth/AuthToken.cs
  Core.Backend.Secure/Controllers/AuthController.cs
  Core.Backend.Secure/Controllers/PWControllerTEST.cs
  Core.Backend.Secure/Controllers/WeatherForecastController.cs
  Core.Backend.Secure/Core.Backend.Secure.csproj
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/Services/CredService.cs
  Core.Backend.Secure/Services/JwtService.cs
  Core.Backend.Secure/Services/RsaService.cs
  Core.Backend.Secure/WeatherForecast.cs
Labels: enhancement, fix

#107 Feature/split backend
  CODEOWNERS
  Core.Backend.Secure/Auth/AuthToken.cs
  Core.Backend.Secure/Auth/IDToken.cs
  Core.Backend.Secure/Controllers/AuthController.cs
  Core.Backend.Secure/Controllers/PWControllerTEST.cs
  Core.Backend.Secure/Core.Backend.Secure.csproj
  Core.Backend.Secure/Platform.cs
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/Properties/launchSettings.json
  Core.Backend.Secure/Services/CredService.cs
  Core.Backend.Secure/Services/JwtService.cs
  Core.Backend.Secure/Services/RsaService.cs
  Core.Backend.Secure/appsettings.Development.json
  Core.Backend.Secure/appsettings.json
  Core.Backend.Secure/keys/dev-private-key.pem
  Core.Backend.Secure/keys/dev-public-key.pem
  Core.Backend/Program.cs
  Core.Database/StoredUserTokens.cs
  Core.Database/User.cs
  Core.sln
Labels: enhancement, backend

#108 Feature/ldap login jwt
  Core.Backend.Secure/Auth/IDToken.cs
  Core.Backend.Secure/Controllers/AuthController.cs
  Core.Backend.Secure/Core.Backend.Secure.csproj
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/appsettings.json
  Core.Ldap.Implementation/Core.Ldap.Implementation.csproj
  Core.Ldap.Implementation/LdapClient.cs
  Core.Moodle.Implementation/Core.Moodle.Implementation.csproj
  Core.Moodle.Implementation/MoodleClient.cs
Labels: enhancement, backend

#123 Feature/pw store secure
  Core.Backend.Secure/Auth/AuthExtensions.cs
  Core.Backend.Secure/Controllers/PWControllerTEST.cs
  Core.Backend.Secure/Controllers/PwController.cs
  Core.Backend.Secure/Dtos/LdapUserDto.cs
  Core.Backend.Secure/Properties/launchSettings.json
  Core.Backend.Secure/Services/CredService.cs
  Core.Backend.Secure/exceptions/AuthException.cs
  Core.Backend.Secure/exceptions/InvalidTypeException.cs
  Core.Backend.Secure/exceptions/InvalidUsernameException.cs
  Core.Database/StoredUserTokens.cs
Labels: backend

#126 fix database secure creation
  Core.Backend.Secure/Auth/AuthToken.cs
  Core.Backend.Secure/Auth/IDToken.cs
  Core.Backend.Secure/Controllers/AuthController.cs
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/Services/CredService.cs
  Core.Database/StoredUserTokens.cs
Labels: backend, fix

#131 move auth to lib
  Core.AuthLib/AuthConfigurator.cs
  Core.AuthLib/AuthExtensions.cs
  Core.AuthLib/Core.AuthLib.csproj
  Core.AuthLib/Services/RsaService.cs
  Core.Backend.Secure/Auth/AuthExtensions.cs
  Core.Backend.Secure/Controllers/PwController.cs
  Core.Backend.Secure/Core.Backend.Secure.csproj
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/Services/RsaService.cs
  Core.Backend/Controllers/WeatherForecastController.cs
  Core.Backend/Core.Backend.csproj
  Core.Backend/Program.cs
  Core.Backend/appsettings.json
  Core.Backend/keys/dev-public-key.pem
  Core.sln
Labels: backend

#133 use correct rsa key
  Core.AuthLib/AuthConfigurator.cs
Labels: bug, backend

#148 Feature/mainframe
  Core.Backend.Secure/Auth/IDToken.cs
  Core.Backend.Secure/Controllers/AuthController.cs
  Core.Backend.Secure/Program.cs
  Core.Backend.Secure/Services/JwtService.cs
  Core.Backend.Secure/appsettings.json
  Core.Database/Core.Database.csproj
  Core.Database/User.cs
  frontend/apps/auth/src/app/login/login.component.html
  frontend/apps/auth/src/app/login/login.component.ts
  frontend/apps/auth/src/app/login/login.module.ts
  frontend/yarn.lock
  mainframe/index.html
  mainframe/login.html
  mainframe/navigation.html
  mainframe/sokrates.html
  mainframe/webuntis.html
Labels: frontend, backend
