Repository htl-grieskirchen-core/core, pull requests merged in 2023-02, with the labels that each got.

#271 Remove isFavourite from global config
  README.md
  deployment/caddy/mainframe-config.json
  frontend/apps/mainframe/public/mainframe-config.json
  frontend/apps/mainframe/src/types/config.ts
Labels: eigentlich-katastrophe, document-it-a-bissl, mainframe

#284 add logout süstem
  Core.Backend.Secure/Controllers/AuthController.cs
  frontend/apps/mainframe/src/app/handler.ts
  frontend/apps/mainframe/src/handler/logout.ts
  frontend/apps/mainframe/src/types/handler.guards.ts
  frontend/apps/mainframe/src/types/handler.ts
  frontend/libs/mainframe-connector/src/lib/mainframe-id-token.service.spec.ts
  frontend/libs/mainframe-connector/src/lib/mainframe-id-token.service.ts
  frontend/libs/mainframe-connector/src/lib/mainframe-nav.service.spec.ts
  frontend/libs/mainframe-connector/src/lib/plugin-list.service.spec.ts
Labels: enhancement, frontend, backend, dua moi nix, mainframe

#293 update auth-lib
  Core.AuthLib/AuthExtensions.cs
  Core.AuthLib/UserRoles.cs
  Core.Backend.Secure/Services/AuthService.cs
  Core.Database/User.cs
  Core.Ldap.Implementation/Core.Ldap.Implementation.csproj
  Core.Ldap.Implementation/LdapClient.cs
  Core.Ldap.Interface/Core.Ldap.Interface.csproj
  Core.Ldap.Interface/LdapGroup.cs
  Core.Ldap.Interface/LdapUser.cs
Labels: enhancement, backend

#296 moi wieda auf mosta
  Core.AuthLib/AuthExtensions.cs
  Core.AuthLib/UserRoles.cs
  Core.Backend.Secure/Services/AuthService.cs
  Core.Database/User.cs
  Core.Ldap.Implementation/Core.Ldap.Implementation.csproj
  Core.Ldap.Implementation/LdapClient.cs
  Core.Ldap.Interface/Core.Ldap.Interface.csproj
  Core.Ldap.Interface/LdapGroup.cs
  Core.Ldap.Interface/LdapUser.cs
  frontend/apps/mainframe/src/app/handler.ts
  frontend/apps/mainframe/src/handler/logout.ts
  frontend/apps/mainframe/src/handler/sendRequest.ts
  frontend/apps/mainframe/src/types/handler.guards.ts
  frontend/apps/mainframe/src/types/handler.ts
  frontend/apps/mainframe/src/utils/fetch.ts
  frontend/libs/core-ui/src/lib/syno-username/syno-username.component.ts
Labels: deployment
