Repository htl-grieskirchen-core/core, pull requests merged in 2023-04, with the labels that each got.

#346 Feature/search for tags
  frontend/apps/frontend/src/app/shared/search/search.component.html
  frontend/libs/core-ui/src/lib/syno-select-multiple/syno-select-multiple.component.html
  frontend/libs/core-ui/src/lib/syno-select-multiple/syno-select-multiple.component.ts
Labels: setz-moi-tags, setz-moi-assignees, setz-moi-project

#343 Feature/plugin favorite
  Core.Backend/Controllers/UserController.cs
  frontend/apps/frontend/src/app/app.module.ts
  frontend/apps/frontend/src/app/core/user.service.ts
  frontend/apps/frontend/src/app/home/category/category.component.html
  frontend/apps/frontend/src/app/home/category/category.component.ts
  frontend/apps/frontend/src/app/home/dashboard/dashboard.component.html
  frontend/apps/frontend/src/app/home/dashboard/dashboard.component.ts
  frontend/apps/frontend/src/app/home/home/home.component.ts
  frontend/apps/frontend/src/app/home/list-view-item/list-view-item.component.css
  frontend/apps/frontend/src/app/home/list-view-item/list-view-item.component.html
  frontend/apps/frontend/src/app/home/list-view-item/list-view-item.component.ts
  frontend/apps/frontend/src/app/home/list-view/list-view.component.html
  frontend/apps/frontend/src/app/home/list-view/list-view.component.ts
  frontend/apps/frontend/src/app/icons/icons.module.ts
  frontend/apps/frontend/src/app/shared/classes/userFavorite.ts
  frontend/apps/frontend/src/app/shared/grid-plugin/grid-plugin.component.css
  frontend/apps/frontend/src/app/shared/grid-plugin/grid-plugin.component.html
  frontend/apps/frontend/src/app/shared/grid-plugin/grid-plugin.component.ts
  frontend/apps/frontend/src/app/shared/search/search.component.ts
  frontend/apps/frontend/src/environments/environment.prod.ts
  frontend/apps/frontend/src/environments/environment.ts
Labels: enhancement, frontend

#362 Polish Login-Screen
  frontend/apps/auth/src/app/login/daily-quote/daily-quote.component.html
  frontend/apps/auth/src/app/login/login.component.html
Labels: enhancement, frontend, eher-wenig

#367 Remove Todo weil des damma ned
  frontend/apps/auth/src/app/login/login.component.html
Labels: frontend, eher-wenig

#360 Polish Navbar Controls Behavior
  frontend/apps/frontend/src/app/core/nav-bar.service.ts
  frontend/apps/frontend/src/app/shared/nav-bar/nav-bar.component.html
  frontend/apps/frontend/src/app/shared/nav-bar/nav-bar.component.ts
Labels: enhancement, frontend, eher-wenig

#368 Plugin TargetGroup Filter
  frontend/apps/frontend/src/app/home/dashboard/dashboard.component.ts
  frontend/apps/frontend/src/app/home/home/home.component.ts
  frontend/apps/frontend/src/app/home/list-view-item/list-view-item.component.html
  frontend/apps/frontend/src/app/home/list-view/list-view.component.html
  frontend/libs/mainframe-connector/src/lib/mainframe-id-token.service.ts
  frontend/libs/mainframe-connector/src/lib/plugin.ts
Labels: enhancement, frontend

#364 Polish Search Bar
  frontend/apps/frontend/src/app/shared/search-bar/search-bar.component.css
  frontend/apps/frontend/src/app/shared/search-bar/search-bar.component.html
  frontend/apps/frontend/src/app/shared/search-bar/search-bar.component.spec.ts
  frontend/apps/frontend/src/app/shared/search-bar/search-bar.component.ts
  frontend/apps/frontend/src/app/shared/search/search.component.html
  frontend/libs/core-ui/src/lib/core-ui.module.ts
  frontend/libs/core-ui/src/lib/syno-autofocus.directive.ts
Labels: enhancement, frontend, eher-wenig

#366 Polish Tab-Bar
  frontend/apps/frontend/src/app/shared/nav-bar/nav-bar.component.html
Labels: enhancement, frontend, eher-wenig
