Repository htl-grieskirchen-core/core, changes with the owners that CODEOWNERS names for each.
All owners: @littlegamer757, @profiluefter, @SchoenbergerFabian, @EinboeckFranz, @SchneckchenAndy, @Klausmd5

CODEOWNERS:

# frontend
frontend    @littlegamer757

# architektur team
Core.WebUntis.Interface @profiluefter @SchoenbergerFabian
Core.Moodle.Interface   @profiluefter @EinboeckFranz
Core.Ldap.Interface     @profiluefter @EinboeckFranz

# backend 2
Core.Moodle.Implementation  @EinboeckFranz
Core.Ldap.Implementation    @EinboeckFranz

# backend 1
Core.WebUntis.Implementation    @SchoenbergerFabian

# miscellaneous files
diagrams                    @SchneckchenAndy
.editorconfig               @profiluefter

docker-compose.yml          @Klausmd5
Dockerfile                  @Klausmd5

.pre-commit-config.yaml     @profiluefter
.github/release-drafter.yml @Klausmd5

.github/workflows/*                     @profiluefter
.github/workflows/release-drafter.yml   @Klausmd5

# SIMONCHECK
.github/checkPw.py           @Klausmd5
.github/hasher.py            @Klausmd5

CODEOWNERS @profiluefter

Create UI Component Library
  frontend/angular.json
  frontend/package.json
  frontend/projects/ngx-core-ui/.eslintrc.js
  frontend/projects/ngx-core-ui/README.md
  frontend/projects/ngx-core-ui/karma.conf.js
  frontend/projects/ngx-core-ui/ng-package.json
  frontend/projects/ngx-core-ui/package.json
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.component.ts
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.module.ts
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.service.ts
  frontend/projects/ngx-core-ui/src/public-api.ts
  frontend/projects/ngx-core-ui/src/test.ts
  frontend/projects/ngx-core-ui/tsconfig.lib.json
  frontend/projects/ngx-core-ui/tsconfig.lib.prod.json
  frontend/projects/ngx-core-ui/tsconfig.spec.json
  frontend/tsconfig.json
  frontend/yarn.lock
Owners: @littlegamer757

Add tailwind to Core UI Library
  frontend/package-lock.json
  frontend/projects/ngx-core-ui/src/lib/core-button/core-button.component.css
  frontend/projects/ngx-core-ui/src/lib/core-button/core-button.component.html
  frontend/projects/ngx-core-ui/src/lib/core-button/core-button.component.ts
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.component.ts
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.module.ts
  frontend/projects/ngx-core-ui/src/lib/ngx-core-ui.service.ts
  frontend/projects/ngx-core-ui/src/public-api.ts
  frontend/projects/ngx-core-ui/src/test.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/tailwind.config.js
Owners: @littlegamer757

Read Teachers from csv, Remove Deprecation of GetTeachers, Add GetTeachers to WebUntisController
  Core.Backend.Secure/CSV/teachers.csv
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
  Core.WebUntis.Implementation/ResponseTypes/TeacherResponse.cs
  Core.WebUntis.Implementation/WebUntisClient.cs
  Core.WebUntis.Interface/IWebUntisClient.cs
  Core.WebUntis.Interface/Types/Teacher.cs
Owners: @SchoenbergerFabian, @profiluefter

change return types from List to IEnumerable
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
  Core.WebUntis.Implementation/WebUntisClient.cs
  Core.WebUntis.Interface/IWebUntisClient.cs
Owners: @SchoenbergerFabian, @profiluefter

Read Students from csv, Add Student Endpoint, Remove StudentResponse, Remove Deprecation of GetStudents
  Core.Backend.Secure/CSV/students.csv
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
  Core.WebUntis.Implementation/ResponseTypes/StudentResponse.cs
  Core.WebUntis.Implementation/WebUntisClient.cs
  Core.WebUntis.Interface/IWebUntisClient.cs
  Core.WebUntis.Interface/Types/Student.cs
Owners: @SchoenbergerFabian, @profiluefter

added Subject Endpoint
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
Owners: none

added Room Endpoint
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
Owners: none

add Homeworks and Holidays Endpoints
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
Owners: none

added Timetable Endpoints
  Core.Backend.Secure/Controllers/WebUntisController.cs
  Core.Backend.Secure/Services/WebUntisService.cs
Owners: none
